{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}SAGA | Conta | Alterar senha{% endblock %}

{% block extra_head %}
<script>
    function save(){
        document.getElementById('id_old_password').value = document.getElementById('old_password').value;
        document.getElementById('id_new_password1').value = document.getElementById('new_password1').value;
        document.getElementById('id_new_password2').value = document.getElementById('new_password2').value;
    }

    window.onload = function error(){
        document.getElementById('old_password').value = document.getElementById('id_old_password').value;
        document.getElementById('new_password1').value = document.getElementById('id_new_password1').value;
        document.getElementById('new_password2').value = document.getElementById('id_new_password2').value;
    }
</script>
{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            {% block no_description %}
            <small>{% block page_description %}Altere a senha cadastrada na sua conta:{% endblock %}</small>
            {% endblock %}
        </h1>
        <ol class="breadcrumb">
        {% block breadcrumbs %}
            <li><a href="{% url 'core:home' %}">Início</a></li>
            <li><a href="{% url 'accounts:account' %}">Conta</a></li>
            <li><a href="{% url 'accounts:change_password' %}">Alterar senha</a></li>
        {% endblock %}
        </ol>
    </section>
{% endblock %}

{% block content %}
   <section class="content">
        <div class="row">
            {% if success %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i> Sucesso!</h4>
                A senha foi alterada com sucesso. Faça <a href="{% url 'accounts:login' %}">login</a> novamente para continuar.
            </div>
            {% endif %}
            {% if success == False %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Ops...</h4>
                Algumas informações não puderam ser salvas. Corrija os erros e tente novamente:<br><br>
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.label_tag }}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="box box-primary">
                <form enctype="multipart/form-data" action="" method="post" id="subject_form" novalidate>
                    {% csrf_token %}
                    <div style="display: none;">
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li><a><span class=""><input style="width: 200px" id="old_password" class="form-control" type="password" autofocus placeholder="Senha antiga"/></span></a></li>
                            <li><a><span class=""><input style="width: 200px" id="new_password1" class="form-control" type="password" placeholder="Nova senha"/></span></a></li>
                            <li><a><span class=""><input style="width: 200px" id="new_password2" class="form-control" type="password" placeholder="Confirmação da nova senha"/></span></a></li>
                            <li><a><button style="width: 80px" class="btn btn-block btn-primary" type="submit" value="Salvar" name="_save" onclick="save()">Salvar</button></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
   </section>
{% endblock %}