{% extends 'adminlte/base.html' %}
{% block title %}SAGA | Recuperar senha{% endblock %}

{% block extra_head %}
<script>
    function submit_(){
        document.getElementById('id_new_password1').value = document.getElementById('new_password1').value;
        document.getElementById('id_new_password2').value = document.getElementById('new_password2').value;
    }
    window.onload = function error(){
        document.getElementById('new_password1').value = document.getElementById('id_new_password1').value;
        document.getElementById('new_password2').value = document.getElementById('id_new_password2').value;
    }
</script>
{% endblock %}

{% block content_header %}{% endblock %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <span class="glyphicon glyphicon-education"></span>
        <b>SAGA</b>
        <h3><small>Sistema de Auxílio e Gestão do Aprendizado</small></h3>
    </div>
    {% if success %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> Sucesso!</h4>
            A senha foi redeficida com sucesso.
        </div>
    {% endif %}
    <div class="login-box-body">
        <p class="login-box-msg">Informe a nova senha.</p>
        <form action="" method="POST">
            {% csrf_token %}
            <div style="display: none;">
                {% for field in form %}
                    {{ field }}
                {% endfor %}
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="new_password1" class="form-control" placeholder="Senha" autofocus>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {{ form.new_password1.errors }}
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="new_password2" class="form-control" placeholder="Confirmação de senha" autofocus>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {{ form.new_password2.errors }}
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-primary" onclick="submit_()">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}